<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MVVMUnitTesting.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>868C06E427C2303300C8B04E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>868C06FA27C2303400C8B04E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>868C070427C2303400C8B04E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
